////////////////////////////////////////
// $Generic form field
////////////////////////////////////////

//////////////////////////////////////// Block variables


//////////////////////////////////////// Block mixins and functions


//////////////////////////////////////// Block styles
$block: ".generic-form-field"

#{$block}
  position: relative
  display: block
  width: 100%

  // $Generic form field MOD: type required
  &_type_required

  // $Generic form field MOD: state error
  &_state_error


  // $Generic form field label
  &__label
    display: block
    width: 100%
    margin-bottom: 10px
    font-family: $f-generic
    font-size: 14px
    color: $c-text-primary
    font-weight: 600
    line-height: 1

    // $Generic form field label-text CONTEXT: $Generic form field MOD: type required field
    #{$block}_type_required &
      &:after
        content: '*'
        margin-left: 2px


  // $Generic form field label text
  &__label-text


  // $Generic form field input
  &__input
    position: relative

    & input
      display: block
      width: 100%
      min-height: 40px
      padding: 10px
      font-family: $f-generic
      font-size: 14px
      color: $c-text-primary
      font-weight: 400
      line-height: 1.5
      background-color: $c-bg-light
      border: 1px solid $c-border-primary
      border-radius: 2px
      appearance: none
      -moz-appearance: none
      -webkit-appearance: none

      #{$block}_state_error &
        border-color: $c-accent-red
        color: $c-accent-red

      &:invalid
        box-shadow: none

      &:focus
        outline: none
        box-shadow: 0 0 4px -1px $c-gray-light

      &:disabled
        background-color: $c-bg-secondary
        cursor: not-allowed

      &::-webkit-input-placeholder
        color: $c-text-faded !important
        opacity:  1 !important

        #{$block}_state_error &
          color: $c-accent-red !important

      &:-moz-placeholder
        color: $c-text-faded !important
        opacity:  1 !important

        #{$block}_state_error &
          color: $c-accent-red !important

      &::-moz-placeholder
        color: $c-text-faded !important
        opacity:  1 !important

        #{$block}_state_error &
          color: $c-accent-red !important

      &:-ms-input-placeholder
        color: $c-text-faded !important
        opacity:  1 !important

        #{$block}_state_error &
          color: $c-accent-red !important

      &::-ms-input-placeholder
        color: $c-text-faded !important
        opacity:  1 !important

        #{$block}_state_error &
          color: $c-accent-red !important

      &::placeholder
        color: $c-text-faded !important
        opacity:  1 !important

        #{$block}_state_error &
          color: $c-accent-red !important

      &:placeholder-shown
        color: $c-text-faded !important
        opacity:  1 !important

        #{$block}_state_error &
          color: $c-accent-red !important


  // $Generic form field note
  &__note
    display: block
    width: 100%
    max-width: 100%
    margin-top: 10px
    font-family: $f-generic
    font-size: 14px
    line-height: 1
    font-weight: 400
    color: $c-text-primary


  // $Generic form field note line
  &__note-line
    display: block
    width: 100%

    &:not(:last-child)
      margin-bottom: 5px


  // $Generic form field note bold
  &__note-bold
    font-weight: 600
