@import '../helpers/settings'
@import '../helpers/mixins'

////////////////////////////////////////
// $Common table
////////////////////////////////////////

//////////////////////////////////////// Block variables


//////////////////////////////////////// Block mixins and functions


//////////////////////////////////////// Block styles
$block: ".deposits-table"

#{$block}
  display: block
  width: 100%
  border: 1px solid $c-border-primary

  // $Common table MOD: type common
  &_type_common
    display: table

  // $Common table MOD: role bookings table
  &_role_bookings
    min-width: 1200px

  // $Common table MOD: role bookings transactions table
  &_role_booking-transactions
    max-width: calc(100% - 240px)

    @media screen and (max-width: 1600px)
      max-width: calc(100% - 220px)

  // $Common table MOD: role selected customers
  &_role_selected-customers

  // $Common table MOD: role deposits
  &_role_deposits
    min-width: 800px


  // $Common table group
  &__group
    position: relative
    width: 100%
    background-color: $c-bg-light

    &:nth-child(odd)
      background-color: $c-bg-secondary

    &_role_enquiry,
    &_role_enquiry:nth-child(odd)
      background-color: $c-accent-orange-medium

    &_role_booking,
    &_role_booking:nth-child(odd)
      background-color: $c-accent-blue-medium

    &_role_deposit,
    &_role_deposit:nth-child(odd)
      background-color: $c-accent-green-medium

    &_role_pending,
    &_role_pending:nth-child(odd)
      background-color: $c-accent-purple-medium

    &_role_refund,
    &_role_refund:nth-child(odd)
      background-color: $c-accent-red-medium

    &_role_partial-refund,
    &_role_partial-refund:nth-child(odd)
      background-color: #ffe3e3


  // $Common table dropdown
  &__dropdown
    position: relative
    padding: 20px 20px 60px
    border-bottom: 1px solid $c-border-primary

    #{$block}_role_bookings &
      background-color: #fff

    // $Common table dropdown MOD: state hidden
    &_state_hidden
      display: none


  // $Common table dropdown close
  &__dropdown-close
    position: absolute
    bottom: 20px
    left: 20px
    z-index: 10
    display: block
    width: 20px
    height: 20px
    font-size: 0
    line-height: 0
    color: transparent
    outline: none
    background-color: $c-gray-medium
    border-radius: 50%
    transition: all .4s
    cursor: pointer

    &:before
      content: '\e91a'
      display: block
      font-family: icons
      font-size: 15px
      line-height: 16px
      font-weight: 400
      color: $c-text-light
      text-align: center

    @media screen and (max-width: 960px)
      left: 50%
      margin-left: -10px

    &:hover
      opacity: .8

    &:focus
      outline: $c-text-light


  // $Common table row
  &__row
    position: relative
    display: flex
    flex-direction: row
    justify-content: flex-start
    align-items: stretch
    width: 100%
    background-color: $c-bg-light

    #{$block}_type_common &
      display: table-row

    &:nth-child(odd)
      background-color: $c-bg-secondary

    &:not(:last-child)
      border-bottom: 1px solid $c-border-primary

    // $Common table row MOD: role header
    &_role_header

    &_role_enquiry,
    &_role_enquiry:nth-child(odd)
      background-color: $c-accent-orange-medium

    &_role_booking,
    &_role_booking:nth-child(odd)
      background-color: $c-accent-blue-medium

    &_role_deposit,
    &_role_deposit:nth-child(odd)
      background-color: $c-accent-green-medium

    &_role_pending,
    &_role_pending:nth-child(odd)
      background-color: $c-accent-purple-medium

    &_role_refund,
    &_role_refund:nth-child(odd)
      background-color: $c-accent-red-medium

    &_role_partial-refund,
    &_role_partial-refund:nth-child(odd)
      background-color: #ffe3e3

    // $Common table row MOD: adjust group
    &_adjust_group,
    &_adjust_group:nth-child(odd)
      background-color: transparent

    // $Common table row MOD: adjust action
    &_adjust_action
      cursor: pointer

    // $Common table row MOD:  no border
    &_no-border,
    &_no-border:not(:last-child)
      border: none

    // $Common table row MOD: state success
    &_state_success,
    &_state_success:nth-child(odd)
      background-color: lighten($c-accent-green, 40)

    // $Common table row MOD: state alert
    &_state_alert,
    &_state_alert:nth-child(odd)
      background-color: lighten($c-accent-red, 20)

    // $Common table row MOD: state edit
    &_state_edit
      box-shadow: inset 0 0 0 2px $c-accent-orange


  // $Common table cell
  &__cell
    flex-grow: 1
    display: flex
    flex-direction: row
    justify-content: flex-start
    align-items: center
    min-height: 50px
    font-family: $f-sans
    font-size: 14px
    font-weight: 400
    color: $c-text-primary
    padding: 10px 15px

    #{$block}_type_common &
      display: table-cell
      height: 50px
      text-align: left
      vertical-align: middle
      border-bottom: 1px solid $c-border-primary

    #{$block}_type_common #{$block}__row:last-child &
      border-bottom: none

    #{$block}_role_bookings &,
    #{$block}_role_booking-transactions &,
    #{$block}_role_deposits &
      padding-left: 10px
      padding-right: 10px

    @media screen and (max-width: 1600px)
      #{$block}_role_bookings &
        padding-left: 3px
        padding-right: 3px

    @media screen and (max-width: 960px)
      #{$block}_role_deposits &
        padding-left: 5px
        padding-right: 5px

    &:not(:last-child)
      border-right: 1px solid $c-border-primary

    // $Common table cell first column
    &:nth-child(1)
      #{$block}_role_bookings &
        width: 7%
        min-width: 90px

      #{$block}_role_booking-transactions &
        width: 20%

      #{$block}_role_deposits &
        width: 22%

    // $Common table cell second column
    &:nth-child(2)
      #{$block}_role_bookings &
        width: 7%
        min-width: 90px

      #{$block}_role_booking-transactions &
        width: 20%

      #{$block}_role_package-editor &
        text-align: center

      #{$block}_role_deposits &
        width: 14%

    // $Common table cell third column
    &:nth-child(3)
      #{$block}_role_bookings &
        width: 12%

      #{$block}_role_booking-transactions &
        width: 30%

      #{$block}_role_deposits &
        width: 24%

    // $Common table cell fourth column
    &:nth-child(4)
      #{$block}_role_bookings &
        width: 5%
        min-width: 75px

      #{$block}_role_booking-transactions &
        width: 30%

      #{$block}_role_deposits &
        width: 18%

    // $Common table cell fifth column
    &:nth-child(5)
      #{$block}_role_bookings &
        width: 8%

      #{$block}_role_deposits &
        width: 22%
        text-align: center

    // $Common table cell sixth column
    &:nth-child(6)
      #{$block}_role_bookings &
        width: 8%

    // $Common table cell seventh column
    &:nth-child(7)
      #{$block}_role_bookings &
        width: 8%

    // $Common table cell eighth column
    &:nth-child(8)
      #{$block}_role_bookings &
        width: 7%

    // $Common table cell ninth column
    &:nth-child(9)
      #{$block}_role_bookings &
        width: 6%
        min-width: 80px

    // $Common table cell tenth column
    &:nth-child(10)
      #{$block}_role_bookings &
        width: 7%

    // $Common table cell eleventh column
    &:nth-child(11)
      #{$block}_role_bookings &
        width: 9%

    // $Common table cell twelfth column
    &:nth-child(12)
      #{$block}_role_bookings &
        flex-grow: 0
        flex-shrink: 0
        width: 100px
        background-color: $c-bg-light

      @media screen and (max-width: 1600px)
        #{$block}_role_bookings &
          width: 90px

    // $Common table cell thirteenth column
    &:nth-child(13)
      #{$block}_role_bookings &
        flex-grow: 0
        flex-shrink: 0
        width: 160px
        background-color: $c-bg-light

      @media screen and (max-width: 1600px)
        #{$block}_role_bookings &
          width: 150px

    // $Common table cell MOD: role header
    // $Common table cell MOD: role footer
    &_role_header,
    &_role_footer
      font-weight: 600

    &_role_header:nth-child(12)
      #{$block}_role_bookings &
        background-color: $c-bg-secondary

    &_role_header:nth-child(13)
      #{$block}_role_bookings &
        background-color: $c-bg-secondary

    &_role_footer:nth-child(1)
      #{$block}_role_deposits &
        width: 36%
        border-right: none

      #{$block}_role_booking-transactions &
        width: 40%
        border-right: none

    &_role_footer:nth-child(2)
      #{$block}_role_deposits &
        width: 64%

      #{$block}_role_booking-transactions &
        width: 60%

    &_no-border
      &:not(:last-child)
        border: none


  // $Common table info
  &__info
    width: 100%

    #{$block}_role_package-editor #{$block}__cell:nth-child(2) &
      text-align: center


  // $Common table info group
  &__info-group
    width: 100%

    #{$block}_role_deposits #{$block}__cell:nth-child(5) &
      margin-top: 10px


  // $Common table text
  &__text
    font-family: $f-sans
    font-size: 14px
    font-weight: 300
    color: $c-text-primary

    & > b,
    #{$block}__cell_role_header &,
    #{$block}__cell_role_footer &
      font-weight: 600

    #{$block}_role_deposits #{$block}__cell:nth-child(5) &
      margin-bottom: 10px
      font-weight: 600

    // $Common table text MOD: adjust no wrap
    &_adjust_no-wrap
      white-space: nowrap

    // $Common table text MOD: adjust wrap
    &_adjust_wrap
      overflow-wrap: break-word
      word-wrap: break-word
      word-break: break-word
      hyphens: auto

    // $Common table text accent red
  &__text-accent-red
    color: $c-accent-red

    // $Common table text accent green
  &__text-accent-green
    color: $c-accent-green

    // $Common table text accent blue
  &__text-accent-blue
    color: $c-accent-blue


  // $Common table actions
  &__actions
    text-align: center

    #{$block}_role_deposits #{$block}__cell:nth-child(5) &
      white-space: nowrap


  // $Common table action
  &__action

    &:not(:last-child)
      #{$block}_role_deposits #{$block}__cell:nth-child(5) &
        margin-right: 10px


  &__placeholder
    padding: 10px 15px

    #{$block}_role_bookings &,
    #{$block}_role_booking-transactions &,
    #{$block}_role_deposits &
      padding-left: 10px
      padding-right: 10px
