@import '../helpers/settings'
@import '../helpers/mixins'

////////////////////////////////////////
// $Full Calendar
////////////////////////////////////////

//////////////////////////////////////// Block variables


//////////////////////////////////////// Block mixins and functions


//////////////////////////////////////// Block styles
$block: ".deposits-fullcalendar"

#{$block}

  & .fc-view-container *,
  & .fc-view-container ::before,
  & .fc-view-container ::after
    -moz-box-sizing: border-box
    -webkit-box-sizing: border-box
    box-sizing: border-box

  & .fc-toolbar h2
    font-family: $f-sans
    font-size: 20px
    font-weight: 400
    color: $c-text-primary

  &.fc button
    font-family: $f-sans
    font-size: 14px
    font-weight: 300

  & .fc-state-default
    background-color: $c-bg-secondary
    background-image: none
    box-shadow: none
    text-shadow: none
    border-color: $c-border-primary

  & .fc-state-hover,
  & .fc-state-down,
  & .fc-state-active,
  & .fc-state-disabled
    color: $c-text-light
    background-color: $c-accent-blue
    border-color: $c-accent-blue

  & .fc-state-hover
    color: $c-text-light
    background-color: $c-accent-blue
    border-color: $c-accent-blue
    background-image: none

  & .fc-state-down,
  & .fc-state-active
    color: $c-text-light
    background-color: $c-accent-blue
    border-color: $c-accent-blue

  & .fc-state-disabled
    opacity: 1

  &.fc table
    font-family: $f-sans

  &.fc th
    padding: 10px
    font-size: 14px
    font-weight: 400
    color: $c-text-primary

  & .fc-day-top
    padding: 4px
    font-size: 14px
    color: $c-text-primary

  & .fc-event
    font-size: 14px
    font-weight: 300
    line-height: 1.5
    border-radius: 2px
    border: 2px solid $c-accent-blue
    color: $c-text-light

  & .fc-event,
  & .fc-event-dot
    background-color: $c-accent-blue

  & .fc-event:hover
    background-color: $c-bg-light
    color: $c-accent-blue
    font-weight: 400

  & .fc-day-grid-event
    margin: 0 4px 8px
    padding: 0

  & tr:first-child>td>.fc-day-grid-event
    margin-top: 8px

  & .fc-event .fc-content
    padding: 2px 4px

  &.fc-unthemed th,
  &.fc-unthemed td,
  &.fc-unthemed thead,
  &.fc-unthemed tbody,
  &.fc-unthemed .fc-divider,
  &.fc-unthemed .fc-row,
  &.fc-unthemed .fc-content,
  &.fc-unthemed .fc-popover,
  &.fc-unthemed .fc-list-view,
  &.fc-unthemed .fc-list-heading td
    border-color: $c-border-primary

  &.fc-unthemed td.fc-today
    background: lighten($c-accent-yellow, 25)

  &.fc-unthemed .fc-disabled-day
    background: $c-bg-secondary
